.productBuy__wrapper {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.productBuy__price {
    margin-right: 50px;
    font-size: 32px;
}
.productBuy__wrapper .btn{
    padding: 5px 20px;
    font-size: 32px;
}

@media( max-width: 768px){
    .productBuy__wrapper{
        justify-content: space-around;
    }
    .productBuy__btn{
        min-width: 60%;
    }
}
