.productBuy__wrapper {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.productBuy__price {
    margin-right: 50px;
    font-size: 32px;
}
.productBuy__btn {
    padding: 5px 20px;
    color: #fff;
    background-color: #0f0f0f;
    border-radius: 4px;
    box-shadow: 0 0 10px red;
    font-size: 32px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
        color: #0f0f0f;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

@media( max-width: 768px){
    .productBuy__wrapper{
        justify-content: space-around;
    }
    .productBuy__btn{
        min-width: 60%;
    }
}
