.cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    .container {
        width: 100%;
    }
}
.cart__inner {
    display: flex;
    justify-content: space-between;
    margin: 120px 0;
}
.emptyCart {
    font-size: 24px;
    a {
        color: #0f0f0f;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;

        &::after {
            content: "";
            width: 0px;
            height: 3px;
            background-color: #0f0f0f;
            opacity: 0;
            transition: 0.3s ease;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &:hover::after {
            width: 100%;
            opacity: 1;
        }
    }
}
.cartItems__wrapper {
    width: calc(50% - 25px);
    height: 80vh;
    padding-right: 15px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0px;
    }
    &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    &:hover {
        padding-right: 10px;
        &::-webkit-scrollbar {
            width: 5px;
        }
    }
}
.cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
        .cartItem__info {
            border-bottom: none;
        }
    }

    &:hover {
        .cartItem__remove {
            opacity: 1;
        }
    }
}
.cartItem__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 25px;
    border-bottom: 2px solid red;
}
.cartItem__photo {
    width: 150px;
    img {
        width: 100%;
    }
}
.cartItem__info-right {
    text-align: right;
}
.cartItem__name {
    font-size: 28px;
}
.cartItem__size {
    margin-bottom: 10px;
    font-size: 20px;
}
.cartItem__price {
    font-size: 24px;
}
.cartItem__remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    margin-right: 5px;
    background-color: #fff;
    border: 2px solid #0f0f0f;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 0;
    transition: 0.2s ease;
    opacity: 0;
    cursor: pointer;
    position: relative;

    &::after {
        content: "";
        width: 20px;
        height: 3px;
        background-color: #0f0f0f;
    }
}

.cart__orderInfo {
    display: flex;
    flex-direction: column;
    width: 50%;

    p {
        margin-bottom: 5px;
        font-size: 20px;
    }
}
.cart__orderInfo-btn-wrapper{
    margin-top: auto;
}
.cart__switchComponents,
.cart__purchase {
    display: block;
    min-width: 40%;
    padding: 5px 15px;
    font-size: 30px;
    text-transform: uppercase;
}
.cart__switchComponents {
    .bi {
        margin: 0 10px -5px;
    }
}
.cart__purchase{
    margin-bottom: 25px;
}

.cart__shipInfo {
    width: calc(50% - 25px);
    height: 80vh;
    padding-right: 15px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0px;
    }
    &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    &:hover {
        padding-right: 10px;
        &::-webkit-scrollbar {
            width: 5px;
        }
    }

    // border: 1px solid #000;

    h2 {
        margin-bottom: 10px;
    }
    input {
        display: block;
        width: 75%;
        margin-bottom: 25px;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-size: 20px;
    }
}
