.header {
    padding: 30px 0;
    transition: 0.2s ease;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header-fixed{
    padding: 10px 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__inner-left,
.header__inner-center,
.header__inner-right {
    width: 33.33333%;
}
.header__inner-left {
    display: flex;
}
.header__inner-center {
    text-align: center;
}
.header__inner-right {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 545px) {
    .header {
        padding: 15px 0;
    }
}
