.productPageAbout__pickSize {
    margin-top: 25px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.productPageAbout__pickSize-title {
    margin-bottom: 5px;
    font-size: 20px;
}
.productPageAbout__pickSize-items-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.productPageAbout__pickSize-item {
    display: flex;
    cursor: pointer;
    transition: 0.15s ease;
    border-radius: 4px;
    position: relative;

    &:hover {
        color: #fff;
        background-color: #000;
    }

    label {
        padding: 5px 15px;
        border-radius: 4px;
        font-size: 22px;
        pointer-events: none;
    }
    input {
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    input:checked + label {
        color: #fff;
        background-color: #000;
    }
}
