.titlePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;

    .container {
        width: 100%;
    }
}
.titlePage__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
.titlePage__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    font-size: 24px;
    animation-duration: 1s;
    animation-name: fade;
    position: relative;
}

.titlePage__item-name {
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    font-size: 160px;
    line-height: 0;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 1;
}

/////////////////////////////////////////
.titlePage__item-middle {
    width: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    img {
        width: 100%;
        animation-name: bounce;
        animation-duration: 5s;
        animation-delay: 3s;
        animation-iteration-count: infinite;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-15px);
    }
    15% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.titlePage__item-left,
.titlePage__item-right {
    width: 25%;
    position: relative;
    z-index: 2;
}
.titlePage__item-left {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@keyframes fade {
    0% {
        transform: rotate(-15deg) translateX(25%);
    }
    50% {
        transform: rotate(15deg) translateX(-25%);
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}

@media (max-width: 995px) {
    .titlePage__item {
        flex-wrap: wrap-reverse;
    }
    .titlePage__item-name {
        font-size: 120px;
        top: 10%;
    }
    .titlePage__item-right {
        display: none;
    }
    .titlePage__item-middle {
        display: flex;
        align-items: center;
        width: 60%;
        height: 60%;
    }

    .titlePage__item-left {
        width: 100%;
        height: 40%;
        flex-direction: row-reverse;
        justify-content: space-between;

        .titlePage__item-switch {
            width: 15%;
            height: 100%;
            padding-left: 0;
            text-align: right;
        }
        .titlePage__item-left-bottom {
            width: 85%;
            height: 100%;
            justify-content: space-between;
            flex-wrap: wrap-reverse;

            .titlePage__item-socialLinks {
                flex-direction: row;
                width: 100%;
                margin-top: 0;
                .svg-icon{
                    margin-right: 5px;
                }
            }
            .titlePage__item-info {
                margin-top: 0;

                .titlePage__item-price,
                .titlePage__item-info-name {
                    margin: 0;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .titlePage__item-name {
        font-size: 90px;
    }
    .titlePage__item-middle {
        width: 90%;
    }
}
@media (max-width: 600px) {
    .titlePage__item-name {
        font-size: 70px;
    }
    .titlePage__item-middle {
        width: 100%;
    }
}
@media (max-width: 450px) {
    .titlePage__item-name {
        font-size: 50px;
    }
}
@media (max-width: 350px) {
    .titlePage__item-name {
        font-size: 45px;
    }
}

// loader
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
